.submit-survey {
    text-align: center;
}
.submit-survey > div {
    display: inline-block;
    background-color: #1363DF;
    color: white;
    cursor: pointer;
    padding: 12px 18px;
    border-radius: 6px;
}